</div>

<div class="dialog-container contest-2018" >
    <div class="dialog-container_content-overlay" onclick="hideDialog()"></div>
    <span class="fi fi-close" onclick="hideDialog()"></span>
    <div class="dialog-form video-cont">
        <iframe width="100%"  src="" frameborder="0"  allowfullscreen></iframe>
    </div>
</div>
<div class="to-top-btn"></div>

<!--add scripts-->
<script src="js/vendor.js"></script>
<script src="js/app.js"></script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XSSZH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48884910-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48884910-1');
</script>

</body>
</html>