%svg-common {
	background: url("../images/svg/sprite-083f7b80.svg") no-repeat;
}

.svg-back-home-1 {
	@extend %svg-common;
	background-position: 94.21190320470896% 41.49265274555298%;
}

.svg-back-home-1-dims {
	width: 120px;
	height: 251px;
}

.svg-back-home-2 {
	@extend %svg-common;
	background-position: 0 78.44756399669694%;
}

.svg-back-home-2-dims {
	width: 88px;
	height: 415px;
}

.svg-back-home-3 {
	@extend %svg-common;
	background-position: 2.8928336620644313% 77.01661937576003%;
}

.svg-back-home-3-dims {
	width: 136px;
	height: 370px;
}

.svg-back-home-4 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-back-home-4-dims {
	width: 107px;
	height: 300px;
}

.svg-back-home-5 {
	@extend %svg-common;
	background-position: 99.57599478147424% 10.317771675166732%;
}

.svg-back-home-5-dims {
	width: 112px;
	height: 288px;
}

.svg-beige-home {
	@extend %svg-common;
	background-position: 7.436918990703851% 76.76767676767676%;
}

.svg-beige-home-dims {
	width: 166px;
	height: 362px;
}

.svg-bg-cloud-1 {
	@extend %svg-common;
	background-position: 0 27.513711151736747%;
}

.svg-bg-cloud-1-dims {
	width: 1635px;
	height: 649px;
}

.svg-bg-cloud-2 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-bg-cloud-2-dims {
	width: 1717px;
	height: 602px;
}

.svg-bg-cloud-3 {
	@extend %svg-common;
	background-position: 68.37913181999204% 27.58181045473863%;
}

.svg-bg-cloud-3-dims {
	width: 667px;
	height: 484px;
}

.svg-bg-cloud-4 {
	@extend %svg-common;
	background-position: 0 57.17550274223035%;
}

.svg-bg-cloud-4-dims {
	width: 1102px;
	height: 649px;
}

.svg-bg-cloud-5 {
	@extend %svg-common;
	background-position: 85.253227408143% 0;
}

.svg-bg-cloud-5-dims {
	width: 1164px;
	height: 649px;
}

.svg-cat {
	@extend %svg-common;
	background-position: 96.48359008707301% 96.83544303797468%;
}

.svg-cat-dims {
	width: 192px;
	height: 151px;
}

.svg-cat-body {
	@extend %svg-common;
	background-position: 43.89019082691664% 70.73715562174237%;
}

.svg-cat-body-dims {
	width: 191px;
	height: 151px;
}

.svg-cat-ear {
	@extend %svg-common;
	background-position: 99.84152139461173% 19.92117520601935%;
}

.svg-cat-ear-dims {
	width: 23px;
	height: 46px;
}

.svg-cat-head {
	@extend %svg-common;
	background-position: 99.80538436587739% 32.62927895120175%;
}

.svg-cat-head-dims {
	width: 95px;
	height: 91px;
}

.svg-check-icon {
	@extend %svg-common;
	background-position: 99.93684875276287% 9.876106194690266%;
}

.svg-check-icon-dims {
	width: 11px;
	height: 12px;
}

.svg-cloud-1-1 {
	@extend %svg-common;
	background-position: 99.23941798941799% 44.44850255661066%;
}

.svg-cloud-1-1-dims {
	width: 154px;
	height: 99px;
}

.svg-cloud-1-2 {
	@extend %svg-common;
	background-position: 49.24590163934426% 69.24198250728863%;
}

.svg-cloud-1-2-dims {
	width: 128px;
	height: 93px;
}

.svg-cloud-1-3 {
	@extend %svg-common;
	background-position: 94.70742932281394% 98.70875179340028%;
}

.svg-cloud-1-3-dims {
	width: 136px;
	height: 49px;
}

.svg-cloud-1-4 {
	@extend %svg-common;
	background-position: 56.42458100558659% 41.18502362777172%;
}

.svg-cloud-1-4-dims {
	width: 135px;
	height: 86px;
}

.svg-cloud-2-1 {
	@extend %svg-common;
	background-position: 99.41841680129241% 35.554755043227665%;
}

.svg-cloud-2-1-dims {
	width: 83px;
	height: 61px;
}

.svg-cloud-2-2 {
	@extend %svg-common;
	background-position: 98.48825989064008% 77.03571428571429%;
}

.svg-cloud-2-2-dims {
	width: 69px;
	height: 37px;
}

.svg-cloud-2-3 {
	@extend %svg-common;
	background-position: 99.93504384540435% 30.280172413793103%;
}

.svg-cloud-2-3-dims {
	width: 99px;
	height: 53px;
}

.svg-cloud-2-4 {
	@extend %svg-common;
	background-position: 100% 28.785714285714285%;
}

.svg-cloud-2-4-dims {
	width: 101px;
	height: 37px;
}

.svg-cloud-2-5 {
	@extend %svg-common;
	background-position: 99.80830670926518% 51.83208822483102%;
}

.svg-cloud-2-5-dims {
	width: 48px;
	height: 26px;
}

.svg-cloud-2-6 {
	@extend %svg-common;
	background-position: 98.74839537869063% 37.2026979055733%;
}

.svg-cloud-2-6-dims {
	width: 62px;
	height: 20px;
}

.svg-eye-cat {
	@extend %svg-common;
	background-position: 99.58899778691116% 21.27208480565371%;
}

.svg-eye-cat-dims {
	width: 15px;
	height: 7px;
}

.svg-footer-city {
	@extend %svg-common;
	background-position: 52.86821705426357% 53.99223133362106%;
}

.svg-footer-city-dims {
	width: 598px;
	height: 520px;
}

.svg-footer-corner {
	@extend %svg-common;
	background-position: 87.2301500182949% 24.019245003700963%;
}

.svg-footer-corner-dims {
	width: 445px;
	height: 135px;
}

.svg-green-home {
	@extend %svg-common;
	background-position: 37.79149519890261% 55.898123324396785%;
}

.svg-green-home-dims {
	width: 262px;
	height: 599px;
}

.svg-laptop-bg {
	@extend %svg-common;
	background-position: 75.60693641618496% 48.28251640293323%;
}

.svg-laptop-bg-dims {
	width: 583px;
	height: 246px;
}

.svg-laptop-bg-1 {
	@extend %svg-common;
	background-position: 75.60693641618496% 57.776920108066385%;
}

.svg-laptop-bg-1-dims {
	width: 583px;
	height: 246px;
}

.svg-logo-kkm-white {
	@extend %svg-common;
	background-position: 97.62792273805489% 75.83511016346837%;
}

.svg-logo-kkm-white-dims {
	width: 227px;
	height: 23px;
}

.svg-main-corner {
	@extend %svg-common;
	background-position: 98.09329247531495% 59.030347890451516%;
}

.svg-main-corner-dims {
	width: 241px;
	height: 135px;
}

.svg-orange-home {
	@extend %svg-common;
	background-position: 95.8416500332668% 10.33805031446541%;
}

.svg-orange-home-dims {
	width: 172px;
	height: 293px;
}

.svg-purple-home {
	@extend %svg-common;
	background-position: 78.18957035093473% 31.13582208101668%;
}

.svg-purple-home-dims {
	width: 129px;
	height: 319px;
}

.svg-sell-point {
	@extend %svg-common;
	background-position: 98.20397690827454% 79.12008654886405%;
}

.svg-sell-point-dims {
	width: 60px;
	height: 64px;
}

.svg-sl-1-sl-1-bg {
	@extend %svg-common;
	background-position: 31.963788300835656% 88.52772466539197%;
}

.svg-sl-1-sl-1-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-sl-1-sl-1-img {
	@extend %svg-common;
	background-position: 98.16013628620102% 53.982956650611335%;
}

.svg-sl-1-sl-1-img-dims {
	width: 243px;
	height: 138px;
}

.svg-sl-1-sl-2-bg {
	@extend %svg-common;
	background-position: 87.5914952945277% 30.577223088923557%;
}

.svg-sl-1-sl-2-bg-dims {
	width: 309px;
	height: 273px;
}

.svg-sl-1-sl-2-img {
	@extend %svg-common;
	background-position: 96.4190093708166% 90.98548510313216%;
}

.svg-sl-1-sl-2-img-dims {
	width: 190px;
	height: 219px;
}

.svg-sl-1-sl-3-bg {
	@extend %svg-common;
	background-position: 53.11304347826087% 88.460068781047%;
}

.svg-sl-1-sl-3-bg-dims {
	width: 303px;
	height: 220px;
}

.svg-sl-1-sl-3-img {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-sl-1-sl-3-img-dims {
	width: 297px;
	height: 263px;
}

.svg-sl-1-sl-4-bg {
	@extend %svg-common;
	background-position: 0 88.52772466539197%;
}

.svg-sl-1-sl-4-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-sl-1-sl-4-img {
	@extend %svg-common;
	background-position: 99.66788442377947% 39.84404010397326%;
}

.svg-sl-1-sl-4-img-dims {
	width: 167px;
	height: 144px;
}

.svg-sl-1-sl-5-bg {
	@extend %svg-common;
	background-position: 34.99303621169916% 71.10778443113773%;
}

.svg-sl-1-sl-5-bg-dims {
	width: 306px;
	height: 165px;
}

.svg-sl-1-sl-5-img {
	@extend %svg-common;
	background-position: 96.12946279612946% 82.58039816232773%;
}

.svg-sl-1-sl-5-img-dims {
	width: 181px;
	height: 225px;
}

.svg-sl-1-sl-6-bg {
	@extend %svg-common;
	background-position: 24.338440111420613% 72.65774378585085%;
}

.svg-sl-1-sl-6-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-sl-1-sl-6-img {
	@extend %svg-common;
	background-position: 98.02653963933311% 73.32068311195447%;
}

.svg-sl-1-sl-6-img-dims {
	width: 239px;
	height: 202px;
}

.svg-sl-1-sl-7-bg {
	@extend %svg-common;
	background-position: 88.6450714036921% 47.85768936495792%;
}

.svg-sl-1-sl-7-bg-dims {
	width: 307px;
	height: 223px;
}

.svg-sl-1-sl-7-img {
	@extend %svg-common;
	background-position: 96.61301140174379% 31.361867704280154%;
}

.svg-sl-1-sl-7-img-dims {
	width: 196px;
	height: 267px;
}

.svg-sl-2-sl-1-img {
	@extend %svg-common;
	background-position: 98.39480874316939% 48.96449704142012%;
}

.svg-sl-2-sl-1-img-dims {
	width: 250px;
	height: 133px;
}

.svg-sl-2-sl-2-bg {
	@extend %svg-common;
	background-position: 13.593586615545487% 74.10296411856474%;
}

.svg-sl-2-sl-2-bg-dims {
	width: 309px;
	height: 273px;
}

.svg-sl-2-sl-2-img {
	@extend %svg-common;
	background-position: 99.03746992093502% 21.49207576343255%;
}

.svg-sl-2-sl-2-img-dims {
	width: 269px;
	height: 250px;
}

.svg-sl-2-sl-3-bg {
	@extend %svg-common;
	background-position: 42.573913043478264% 88.49388379204893%;
}

.svg-sl-2-sl-3-bg-dims {
	width: 303px;
	height: 221px;
}

.svg-sl-2-sl-3-img {
	@extend %svg-common;
	background-position: 3.713988198542173% 98.52427184466019%;
}

.svg-sl-2-sl-3-img-dims {
	width: 297px;
	height: 262px;
}

.svg-sl-2-sl-4-bg {
	@extend %svg-common;
	background-position: 21.309192200557103% 88.52772466539197%;
}

.svg-sl-2-sl-4-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-sl-2-sl-6-bg {
	@extend %svg-common;
	background-position: 10.654596100278551% 88.52772466539197%;
}

.svg-sl-2-sl-6-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-sl-2-sl-6-img {
	@extend %svg-common;
	background-position: 98.02653963933311% 65.65464895635674%;
}

.svg-sl-2-sl-6-img-dims {
	width: 239px;
	height: 202px;
}

.svg-sl-2-sl-7-bg {
	@extend %svg-common;
	background-position: 88.6142061281337% 57.246653919694076%;
}

.svg-sl-2-sl-7-bg-dims {
	width: 306px;
	height: 222px;
}

.svg-white-arrow {
	@extend %svg-common;
	background-position: 99.90530303030303% 9.322935129386742%;
}

.svg-white-arrow-dims {
	width: 10px;
	height: 16px;
}

